html{
  scroll-behavior: smooth;
}

/* testimonial section - By Shubham Sharma - Do Not Remove*/


.testimonial-area{
    background-color:#f9f9ff;
    padding-top: 25px;
    padding-bottom: 25px;
}
}
.testimonial-area .header-text{
    text-align:center;
}
.testimonial-area .header-text h1{
    margin-bottom:25px;
}


/* testimonial slide - By Shubham Sharma - Do Not Remove*/

.mycarousel{position:relative}.mycarousel-inner{position:relative;width:100%;overflow:hidden}.mycarousel-item{position:relative;display:none;align-items:center;width:100%;transition:transform 0.6s ease;backface-visibility:hidden;perspective:1000px}.mycarousel-item.active,.mycarousel-item-next,.mycarousel-item-prev{display:block}.mycarousel-item-next,.mycarousel-item-prev{position:absolute;top:0}.mycarousel-item-next.mycarousel-item-left,.mycarousel-item-prev.mycarousel-item-right{transform:translateX(0)}@supports (transform-style: preserve-3d){.mycarousel-item-next.mycarousel-item-left,.mycarousel-item-prev.mycarousel-item-right{transform:translate3d(0, 0, 0)}}.mycarousel-item-next,.active.mycarousel-item-right{transform:translateX(100%)}@supports (transform-style: preserve-3d){.mycarousel-item-next,.active.mycarousel-item-right{transform:translate3d(100%, 0, 0)}}.mycarousel-item-prev,.active.mycarousel-item-left{transform:translateX(-100%)}@supports (transform-style: preserve-3d){.mycarousel-item-prev,.active.mycarousel-item-left{transform:translate3d(-100%, 0, 0)}}.mycarousel-control-prev,.mycarousel-control-next{position:absolute;top:0;bottom:0;display:flex;align-items:center;justify-content:center;width:15%;color:#fff;text-align:center;opacity:.5}.mycarousel-control-prev:focus,.mycarousel-control-prev:hover,.mycarousel-control-next:focus,.mycarousel-control-next:hover{color:#fff;text-decoration:none;outline:0;opacity:.9}.mycarousel-control-prev{left:0}.mycarousel-control-next{right:0}.mycarousel-control-prev-icon,.mycarousel-control-next-icon{display:inline-block;width:20px;height:20px;background:transparent no-repeat center center;background-size:100% 100%}.mycarousel-control-prev-icon{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")}.mycarousel-control-next-icon{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")}.mycarousel-indicators{position:absolute;right:0;bottom:10px;left:0;z-index:15;display:flex;justify-content:center;padding-left:0;margin-right:15%;margin-left:15%;list-style:none}.mycarousel-indicators li{position:relative;flex:0 1 auto;width:30px;height:3px;margin-right:3px;margin-left:3px;text-indent:-999px;background-color:rgba(255,255,255,0.5)}.mycarousel-indicators li::before{position:absolute;top:-10px;left:0;display:inline-block;width:100%;height:10px;content:""}.mycarousel-indicators li::after{position:absolute;bottom:-10px;left:0;display:inline-block;width:100%;height:10px;content:""}.mycarousel-indicators .active{background-color:#fff}.mycarousel-caption{position:absolute;right:15%;bottom:20px;left:15%;z-index:10;padding-top:20px;padding-bottom:20px;color:#fff;text-align:center}

@media (min-width: 768px) {
    /* show 3 items */
    .mycarousel-inner .active,
    .mycarousel-inner .active + .mycarousel-item,
    .mycarousel-inner .active + .mycarousel-item + .mycarousel-item {
      display: block;
    }
  
    .mycarousel-inner .mycarousel-item.active:not(.mycarousel-item-right):not(.mycarousel-item-left),
    .mycarousel-inner .mycarousel-item.active:not(.mycarousel-item-right):not(.mycarousel-item-left) + .mycarousel-item,
    .mycarousel-inner .mycarousel-item.active:not(.mycarousel-item-right):not(.mycarousel-item-left) + .mycarousel-item + .mycarousel-item {
      transition: none;
    }
  
    .mycarousel-inner .mycarousel-item-next,
    .mycarousel-inner .mycarousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
  
    .mycarousel-inner .active.mycarousel-item + .mycarousel-item + .mycarousel-item + .mycarousel-item {
      position: absolute;
      top: 0;
      right: -33.3333%;
      z-index: -1;
      display: block;
      visibility: visible;
    }
  
    /* left or forward direction */
    .active.mycarousel-item-left + .mycarousel-item-next.mycarousel-item-left,
    .mycarousel-item-next.mycarousel-item-left + .mycarousel-item,
    .mycarousel-item-next.mycarousel-item-left + .mycarousel-item + .mycarousel-item,
    .mycarousel-item-next.mycarousel-item-left + .mycarousel-item + .mycarousel-item + .mycarousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    /* farthest right hidden item must be abso position for animations */
    .mycarousel-inner .mycarousel-item-prev.mycarousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
    }
  
    /* right or prev direction */
    .active.mycarousel-item-right + .mycarousel-item-prev.mycarousel-item-right,
    .mycarousel-item-prev.mycarousel-item-right + .mycarousel-item,
    .mycarousel-item-prev.mycarousel-item-right + .mycarousel-item + .mycarousel-item,
    .mycarousel-item-prev.mycarousel-item-right + .mycarousel-item + .mycarousel-item + .mycarousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
    }
  }

/* - By Shubham Sharma - Do Not Remove - */


.mycarousel-control-prev,
.mycarousel-control-next{
height: fit-content;
width: fit-content;
top: auto;
padding: 10px;
border-radius: 50%;
position: relative;
display: inline;
}

.mycarouselControl{
width: fit-content;
width: -moz-fit-content;
margin: 0px auto;
}

.mycarousel-control-next-icon,
.mycarousel-control-prev-icon {
  filter: invert(1);
}


/*footer  - By Shubham Sharma - Do Not Remove - */
 
.footer-area{
  background: #d94b38;
  color: white;
  padding-top: 30px;
}

.disclaimer{
  padding-bottom: 30px;
}

.copyright{
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  background: #a53e30;
  text-align: center;
  text-align: -moz-center;
}

address{
  font-size: 15px;
}

.material-icons{
  position: relative;
  top:8px;
  right:5px;
}

.form-control::-webkit-input-placeholder {
  color: white;
  opacity: 1; 
}

.form-control::-moz-placeholder {
  color: white;
  opacity: 1; 
}

.imagedropshadow {
  padding: 10px;
  border: solid 1px #CCC;
  -moz-box-shadow: 1px 1px 10px #999;
  -webkit-box-shadow: 1px 1px 10px #999;
  box-shadow: 1px 1px 10px #999;
  border-radius: 50%;
  max-height: 250px;
  max-width: 250px;
}

.internfont
{
  font-family: 'Patrick Hand', cursive;
}

